.cover {
    background: url('/assets/images/banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner__caption {
.txt_green {
    color: $lightgreen;
    font-weight: bold;
}
}