.navbar_bline {
    position: relative;
    border-top: 1px solid white;
    width: calc(100% - 147px);
    float: right;
    top: -43px;
}

.event_section {
    margin-top: -50px;
    line-height: 18px;

    span{
        font-size: 14px;
    }
    .event_name{
        color: #00ff90;
    }
}